/_obj
/.vscode
/*.covprofile
/dep
/localhost.crt
/localhost.key
/node_modules
/output
/simulator/colonio-simulator.tar
/simulator/dump.json
/simulator/material/*
/simulator/out.mp4
/simulator/render
/simulator/work
/src/*.d.ts
/src/*.js
/src/*.map
/test/dist/tests.txt
/test/dist/tests/*.wasm
/test/dist/wasm_exec.js
